.popup-overlay-username{
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-overlay-email{
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);

}
.popup-overlay-password{
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-modal-username{
    max-width: 50%;
    height: 50%;
    margin: auto;
    background-color: rgb(19,18,34);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}
.popup-modal-email{
    max-width: 50%;
    height: 50%;
    margin: auto;
    background-color: rgb(19,18,34);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup-modal-password{
    max-width: 50%;
    height: 50%;
    margin: auto;
    background-color: rgb(19,18,34);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}